$color-root: rgb(134, 82, 29);

@keyframes appear{
    0% {
        opacity: 0;
    }
    // 50% {
    //     opacity: 0.5;
    // }
    100% {
        opacity: 1;
    }
}
//animation pour faire apparaitre en douceur le menu//


.featurette:nth-of-type(1){
    animation: appear 500ms ;
}

.featurette:nth-of-type(2){
    animation: appear 1500ms 500ms backwards;
}

.featurette:nth-of-type(3){
    animation: appear 2000ms 1000ms backwards;
}


main{
    background: url("images/circles-light.png");
}
.navbar{
    background-color: $color-root;
    height: 5rem;
    &-brand{
        font-size: 2rem;
    }
}
.nav-link{
    color: #fff!important;
    border-bottom: 0px solid #000;
    font-size:1.5rem!important;;
    &:hover{
        color: #000!important;
        border-bottom: 3px solid #000;
        font-weight: bold;
    }
}
.dropdown .btn{
    font-size:1.5rem!important;
    &:hover{
        border-bottom: 3px solid #000;
        color: #000!important;
        font-weight: bold;
    }
}


.dropdown {
    & .btn{
        margin-top: 2px;;
        color: #fff!important;
        &:focus{
            outline:0;
            box-shadow: 0 0 0 0;
        }
    }
}
.carousel{
    margin: auto!important;
}
.size {
    width:100%;
    object-fit: contain;
    height: 35rem;
}

.contactDetail{
    background:rgb(241, 172, 42);
    position: fixed;
    top: 5rem;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    column-gap: 2rem;
    padding: 1rem;
    z-index: 3;
}

.carousel-caption{
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    & p{
        margin: auto;
        font-size: 1.5rem;
        width: 60%;
    }
    & .btn-carousel{
        background-color: #fff;
        color: $color-root;
        text-shadow: 0px 1px 1px $color-root; 
        margin: 1rem 0;
    }
}
.place{
    color: $color-root;
    text-align:center;
    margin:2rem auto 4rem;
    width: 50%;
    font-size: 1.8rem;
    text-shadow: 0px 0px 1px #000;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.container,
.marketing {
    max-width:100%!important;
    margin:0!important;
}

.carousel-caption {
    & .btn:focus{
        outline:0;
        box-shadow:0 0 0 0 ;
    }
}  

.btn-carousel{
    color: #fff!important;
    background-color: $color-root!important;
    transition: all 300ms;
    box-shadow: 1px 2px 3px #000;
    &:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 3px #000;
        color:#ffee00!important;
        text-shadow: 1px 1px 2px #000;
    }
}

.roundImg{
    border-radius: 40%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.marketing a{
    color: #fff;
    background-color: $color-root;
    transform: scale(1);
    transition: all 300ms;
    margin-bottom: 2rem;
    &:hover,
    &:focus{
        transform: scale(1.1);
        color: #fff;
        background-color: $color-root;
    }
}
.float-end a{
    color: $color-root;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #000;
    padding:0.5rem;
    background-color: #fff;
    &:hover{
        background-color: rgb(248, 139, 49);
        color:rgb(100, 54, 8)
    }
}

//bas de page//
.footer{
    background-color: $color-root;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    & .relance{
        width: 10rem;
        max-height: 6rem;
    }
    & .director{
        font-weight: 700;;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap:  2rem;
        color: #fff;
        & img{
            width:4rem;
            max-height: 2rem;
        }
        & a{
            color: #fff;
            text-shadow: 1px 1px 2px #000;
            text-decoration: none;
            font-weight: normal;
            &:hover{
                color: #000;
                text-shadow: 1px 1px 2px #000;
            }
        }
        & .law{
            color: #fff;
            font-size: 0.9rem!important;
            text-shadow: 0 0 0 #000;
            &:hover{
                color: #000!important;

            }
            
        }
    }
}

// page menu

.menuSalt h1,
.menuSugar h1,
.schedule h1,
.map h2{
    font-size: 4rem;
    text-align: center;
    color: $color-root;
    padding-bottom: 3rem;
}

.map h2{
    padding-top: 2rem;
}

.menuSalt h1,
.schedule h1{
    padding-top:6rem;
}

main {
    width:100%;
}

.menuSalt,
.menuSugar{
    max-width:80%;
    margin:auto;
}

.featurette-divider{
    color:$color-root;

}

.menuImg{
    width:300px;
    height: 300px;
    object-fit: cover;   
}

.espace{
    padding-left: 3.5rem;
}

// page info (horaire-acces)
.schedule .schedule_detail{
    text-align: center;
    border: 1px solid $color-root;
    width:60%;
    margin:auto;
    padding:2rem;
}

//page law.html
.mentions{
    padding-top: 3rem;
    padding-left:3.5rem;
    & h1{
        padding-bottom: 2rem;
        color: $color-root;
        text-shadow: 1px 1px 2px #000; 
    }
    & .font{
        color: rgb(63, 60, 60);
        font-weight: bold;
    }
}
.return_home{
    padding-left:7vh;
    align-items: center;
    margin-top:3rem;
    .link_home{
        text-decoration: none;
        color: rgb(88, 88, 88);
        text-shadow: 1px 1px 2px #000; 
        font-weight: bold;
        padding-bottom: 45%;
        &:hover{
            color: #000;
            font-weight: normal;
        }
        & .arrow{
            width:40px;
            margin-right: 1rem;
        }
    }
}

@media (max-width: 450px) {
    .carousel-indicators{
        display: none;
    }
    .carousel-caption{  
        padding-bottom:2rem!important;
        & h1{
            padding-bottom:0.5rem;
            font-size:1.3rem;
        }
        & p{
            align-items: center;
            font-size:1.3rem;
            width: 13rem!important;
        }
    }
    .size{
        max-height: 18.5rem;
    }
    .btn-lg{
        font-size: 1.1rem;
    }
    .contactDetail{
        padding: 0.5rem;    
    }
    .schedule .schedule_detail{
        padding: 2rem 1rem;
        width:80%;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .navbar-collapse{
        flex-grow:0!important;
        margin-right:2rem!important;
    }
}

@media (max-width: 768px) {
    .dropdown .btn,
    .nav-link{
        color: #fff!important;
        background-color: $color-root;
        width: 8rem;
        display: inline-block;
        &:hover{
            border-bottom: 0px solid #000;
            font-weight: 700;
        }
    }  
    .nav-link{
        text-align:center;
    } 
    .infoNav ul{
        margin-top :3.7rem;
        margin-left:0!important;
        padding-left:0!important;
    }
    .place{
        width: 90%;
    }
    .size{
        height: 25rem;
    }
    .carousel-caption {
        padding-bottom:3rem;
        & h1{
        margin-bottom: 0;
        }
        & .btn-carousel{
            margin:0!important;
            padding:0 0.5rem;
        }
    }
    .carousel-indicators {
        padding-bottom:1.5rem;
    }
    .col-lg-3{
        width:50%;
    }
    .contactDetail{
        position: sticky;
        & .town,
        & .phone{
            margin:auto;
        }
    }
}

@media (max-width: 692px) {
    .espace{
        padding-left: 0;
        text-align:justify;
    }
    .espace_again{
        text-align: justify;
    }
    .row{
        text-align:center!important;
        & h2{
            margin: 1rem;
            text-align:center!important;
        }
    }
    .footer{
        flex-direction: column;
        & .relance{
            margin: auto;
            margin-bottom: 0.5rem;
        }
        & .director{
            display: flex;
            & img{
                width:4.5rem;
                max-height: 2.5rem;
                margin: 0.5rem;
            }
        }
        & .law{
            color: rgb(223, 221, 221)!important;
        }
    }
    .mentions{
        padding-left:2rem;
    }
}

@media (max-width: 550px) {
    .row{
        display: block;
        width:100%!important;
        text-align: center;
        & .col-lg-3{
            margin:auto;
            margin-bottom:2rem;
            width:80%; 
            & .roundImg{
                width:13rem;
                height: 13rem;
            }
            & p{
               width:100%!important;
            }
        }
        & .col-lg-3:nth-last-child(1){
            margin-bottom: -1rem;
        }
    }
}

@media (max-width: 992px) {
  .row{
      justify-content: space-around;
      row-gap: 3rem;
  }
  .col-lg-3{
      width:35%;
  }
  .contactDetail{
    position: sticky;
    padding: 0.7rem;
    & .town,
    & .phone{
        margin:auto;
    }
}
}


@media (min-width: 1100px) {
    .marketing{
        max-width:70%;
        margin:auto;
    }
}

@media (max-width: 1400px) {
    .place {
        width:70%;
    }
}
