@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.featurette:nth-of-type(1) {
  -webkit-animation: appear 500ms;
          animation: appear 500ms;
}

.featurette:nth-of-type(2) {
  -webkit-animation: appear 1500ms 500ms backwards;
          animation: appear 1500ms 500ms backwards;
}

.featurette:nth-of-type(3) {
  -webkit-animation: appear 2000ms 1000ms backwards;
          animation: appear 2000ms 1000ms backwards;
}

main {
  background: url("images/circles-light.png");
}

.navbar {
  background-color: #86521d;
  height: 5rem;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  color: #fff !important;
  border-bottom: 0px solid #000;
  font-size: 1.5rem !important;
}

.nav-link:hover {
  color: #000 !important;
  border-bottom: 2px solid #000;
}

.dropdown .btn {
  font-size: 1.5rem !important;
}

.dropdown .btn:hover {
  border-bottom: 2px solid #000;
  color: #000 !important;
}

.dropdown .btn {
  margin-top: 2px;
  color: #fff !important;
}

.dropdown .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.carousel {
  margin: auto !important;
}

.size {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 35rem;
}

.carousel-caption {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.carousel-caption p {
  margin: auto;
  font-size: 1.5rem;
  width: 60%;
}

.carousel-caption .btn-carousel {
  background-color: #fff;
  color: #86521d;
  text-shadow: 0px 1px 1px #86521d;
  margin: 1rem 0;
}

.place {
  color: #86521d;
  text-align: center;
  margin: 2rem auto 4rem;
  width: 50%;
  font-size: 1.8rem;
  text-shadow: 0px 0px 1px #000;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.container,
.marketing {
  max-width: 100% !important;
  margin: 0 !important;
}

.carousel-caption .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.btn-carousel {
  color: #fff !important;
  background-color: #86521d !important;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-shadow: 1px 2px 3px #000;
          box-shadow: 1px 2px 3px #000;
}

.btn-carousel:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 3px 3px #000;
          box-shadow: 3px 3px 3px #000;
}

.roundImg {
  border-radius: 40%;
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.marketing a {
  color: #fff;
  background-color: #86521d;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin-bottom: 2rem;
}

.marketing a:hover, .marketing a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
  background-color: #86521d;
}

.float-end a {
  color: #86521d;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #000;
  padding: 0.5rem;
  background-color: #fff;
}

.float-end a:hover {
  background-color: #f88b31;
  color: #643608;
}

.footer {
  background-color: #86521d;
  padding-bottom: 1rem;
}

.footer .copyright {
  width: 100%;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.footer .director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.footer .director img {
  width: 4rem;
  height: auto;
}

.footer .director a {
  color: #bebc46;
  text-decoration: none;
}

.footer .director a:hover {
  color: #e6f065;
  text-shadow: 1px 1px 2px #ffa733;
}

.menuSalt h1,
.menuSugar h1 {
  font-size: 4rem;
  text-align: center;
  color: #86521d;
  padding-bottom: 3rem;
}

.menuSalt h1 {
  padding-top: 6rem;
}

main {
  width: 100%;
}

.menuSalt,
.menuSugar {
  max-width: 80%;
  margin: auto;
}

.featurette-divider {
  color: #86521d;
}

.menuImg {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 450px) {
  .carousel-indicators {
    display: none;
  }
  .carousel-caption {
    padding-bottom: 2rem !important;
  }
  .carousel-caption h1 {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .carousel-caption p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    width: 13rem !important;
  }
  .size {
    max-height: 18.5rem;
  }
  .btn-lg {
    font-size: 1.1rem;
  }
}

@media (max-width: 1400px) {
  .place {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .navbar-collapse {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
    margin-right: 2rem !important;
  }
}

@media (max-width: 768px) {
  .dropdown .btn,
  .nav-link {
    color: #000 !important;
    background-color: #86521d;
    width: 8rem;
    display: inline-block;
  }
  .dropdown .btn:hover,
  .nav-link:hover {
    border-bottom: 0px solid #000;
    font-weight: 700;
  }
  .nav-link {
    text-align: center;
  }
  .place {
    width: 90%;
  }
  .size {
    height: 25rem;
  }
  .carousel-caption {
    padding-bottom: 3rem;
  }
  .carousel-caption h1 {
    margin-bottom: 0;
  }
  .carousel-caption .btn-carousel {
    margin: 0 !important;
    padding: 0 0.5rem;
  }
  .carousel-indicators {
    padding-bottom: 1.5rem;
  }
  .col-lg-3 {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .row {
    display: block;
    width: 100% !important;
    text-align: center;
  }
  .row .col-lg-3 {
    margin: auto;
    margin-bottom: 2rem;
    width: 80%;
  }
  .row .col-lg-3 .roundImg {
    width: 13rem;
    height: 13rem;
  }
  .row .col-lg-3 p {
    width: 100% !important;
  }
  .row .col-lg-3:nth-last-child(1) {
    margin-bottom: -1rem;
  }
}

@media (min-width: 1100px) {
  .marketing {
    max-width: 70%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 3rem;
  }
  .col-lg-3 {
    width: 35%;
  }
}
/*# sourceMappingURL=style.css.map */